@model List<AcunMedyaPortfolio.Models.TblFeature>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Özellik</th>
        <th>Altbaşlık</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FeatureID</td>
            <td>@item.FeatureTitle</td>
            <td>@item.FeatureSubtitle</td>
        </tr>
    }
</table>

